<div id = "survey">
  <form class = "survey_form">
    <h1 class = "title">Title</h1>
    <ul class = "questions">
      <li class = "question text">
        <div class = "question_text"></div>
        <input type = "text" class = "question_input" />
      </li>
      <li class = "question radio">
        <div class = "question_text"></div>
        <ul class = "options">
          <li class = "option">
            <input type = "radio" class = "question_input" />
            <label class = "value"></label>
          </li>
        </ul>
      </li> 
    </ul>
  </form>
</div>
