<div id = "survey" class = "ui-corner-all ui-widget-content">
  <form class = "survey_form">
    <h1 class = "title">Title</h1>
    <input type = "hidden" class = "survey_id">
    <ul class = "questions">
      <li class = "question text">
        <div class = "question_text"></div>
        <input type = "hidden" class = "question_id" />
        <input type = "hidden" class = "index" />
        <input type = "text" class = "ui-widget-content ui-corner-all response" />
      </li>
      <li class = "question radio">
        <div class = "question_text"></div>
        <input type = "hidden" class = "question_id" />
        <input type = "hidden" class = "index" />
        <ul class = "options">
          <li class = "option">
            <input type = "radio" class = "response" />
            <label class = "value"></label>
          </li>
        </ul>
      </li> 
    </ul>
  </form>
  <button>next</button>
</div>
